# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de editores de código
.vscode/
.idea/

# Archivos de caché y logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencias (buena práctica tenerlo)
node_modules/